﻿@model WebApplication13.Models.Person

@{
    ViewBag.Title = "Edit";
}


<h2>Edit</h2>


@using (Html.BeginForm())
{
    @Html.AntiForgeryToken()

<div class="form-horizontal">
    <h4>Person</h4>
    <hr />
    @Html.ValidationSummary(true, "", new { @class = "text-danger" })
    @Html.HiddenFor(model => model.Id)

    <div class="form-group">
        @Html.LabelFor(model => model.FirstName, htmlAttributes: new { @class = "control-label col-md-2" })
        <div class="col-md-10">
            @Html.EditorFor(model => model.FirstName, new { htmlAttributes = new { @class = "form-control" } })
            @Html.ValidationMessageFor(model => model.FirstName, "", new { @class = "text-danger" })
        </div>
    </div>

    <div class="form-group">
        @Html.LabelFor(model => model.LastName, htmlAttributes: new { @class = "control-label col-md-2" })
        <div class="col-md-10">
            @Html.EditorFor(model => model.LastName, new { htmlAttributes = new { @class = "form-control" } })
            @Html.ValidationMessageFor(model => model.LastName, "", new { @class = "text-danger" })
        </div>
    </div>

    <div class="form-group">
        @Html.LabelFor(model => model.BirthDate, htmlAttributes: new { @class = "control-label col-md-2" })
        <div class="col-md-10">
            @Html.EditorFor(model => model.BirthDate, new { htmlAttributes = new { @class = "form-control" } })
            @Html.ValidationMessageFor(model => model.BirthDate, "", new { @class = "text-danger" })
        </div>
    </div>

    <div class="form-group">
        @Html.LabelFor(model => model.Active, htmlAttributes: new { @class = "control-label col-md-2" })
        <div class="col-md-10">
            <div class="checkbox">
                @Html.EditorFor(model => model.Active)
                @Html.ValidationMessageFor(model => model.Active, "", new { @class = "text-danger" })
            </div>
        </div>
    </div>


    <div class="form-group">
        @Html.LabelFor(model => model.EMail, htmlAttributes: new { @class = "control-label col-md-2" })
        <div class="col-md-10">
            @Html.EditorFor(model => model.EMail, new { htmlAttributes = new { @class = "form-control" } })
            @Html.ValidationMessageFor(model => model.EMail, "", new { @class = "text-danger" })
        </div>
    </div>

    <div class="form-group">
        <div class="col-md-offset-2 col-md-10">
            <input type="submit" value="Save" class="btn btn-default" />
        </div>
    </div>

    <div class="form-group">
        @Html.LabelFor(model => model.PictureId, "PictureId", htmlAttributes: new { @class = "control-label col-md-2" })
        <div class="col-md-10">
            @*@Html.DropDownList("PictureId", null, htmlAttributes: new { @class = "form-control" })*@
            <style>
                img.small-picture {
                    height: 80px
                }
            </style>
            <select class="form-control image_picker show-html show-label" id="PictureId" name="PictureId" >
                @foreach (int x in ViewBag.PictureId)
                {
                    <option data-img-class="small-picture" value="@x" @(Model.PictureId == x ? "selected" : "") data-img-src='@Url.Action("DataFileContent", "People", new { id = x })'>@ViewBag.PictureList[x]</option>
                }
            </select>

            @Html.ValidationMessageFor(model => model.PictureId, "", new { @class = "text-danger" })
        </div>
    </div>

</div>
}

<select class="image-picker">
    <option value="1" data-img-alt="Page 1" data-img-class="first" data-img-src="http://placekitten.com/300/200">  Page 1  </option>
    <option value="2" data-img-alt="Page 2" data-img-src="http://placekitten.com/150/200">  Page 2  </option>
</select>
<div>
    @Html.ActionLink("Back to List", "Index")
</div>

@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")

    <script src="~/Scripts/jquery-3.3.1.js"></script>
    <link href="~/Content/image-picker.css" rel="stylesheet" type="text/css">
    <script src="~/Content/image-picker.js"></script>
    <script>
        $(document).ready(function () {
            $("select").imagepicker();
            $("select.show-label").imagepicker({
                hide_select: false, // true, kui ei taha selecti ennast näha
                show_label: true,   // false, kui ei taha failinimesid piltidel näha
            });
        })
    </script>
}
